<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout}"
	>
<head>

<style>
	td a:link{
		text-decoration:none;
		color:black;
	}
	td a:visited{
		text-decoration:none;
		color:black;
	}
	td a:hover{
		text-decoration:underline;
		color:#cccccc;
	}
</style>

<meta charset="UTF-8">
<title>질문답변 게시판</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<nav class="navbar bg-light">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="/index">HEEKWON Q&A BOARD</a>
	    <a class="navbar-brand" href="#">로그인</a>
	  </div>
	</nav>


   <div layout:fragment="content" class="container my-3">
   
   <table class="table">
   	<tr>
   		<th>번호</th>
   		<th>제목</th>
   		<th>등록일</th>
   	</tr>
   	
   	<tr th:each="question:${paging}">
   		<td th:text="${question.id}">번호</td>
   		<td>
   			<a th:href="@{|/questionView/${question.id}|}" th:text="${question.subject}">제목</a>
			<span class="small ms-2" th:if="${#lists.size(question.answerList)>0}"
			th:text="${#lists.size(question.answerList)}">
				
			</span>   			
   		</td>
   		<td th:text="${question.createTime}">등록일</td>
   	</tr>
   </table>
   
   <!-- 페이징 시작 -->
   
   <div th:if=${!paging.isEmpty} aria-label="Page navigation example" >
  <ul class="pagination justify-content-center">
    <li th:classappend="${!paging.hasPrevious} ? 'disabled'" class="page-item">
      <a class="page-link" th:href="@{|?pageNum=${paging.number-1}|}">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    
    <li th:each="pageNum : ${#numbers.sequence(0,paging.totalPages-1)}" 
    th:if="${pageNum>=paging.number-3 and pageNum<=paging.number+3}" 
    th:classappend= "${pageNum==paging.number}? 'active'" class="page-item">
    	<a class="page-link" th:href="@{|?pageNum=${pageNum}|}" th:text="${pageNum+1}"></a>
    </li>
    
    <li th:classappend="${!paging.hasNext} ? 'disabled'" class="page-item">
      <a class="page-link" th:href="@{|?pageNum=${paging.number+1}|}">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>
   
   <!-- 페이징 끝 -->
   
   <a th:href="@{/questionForm}" class="btn btn-primary my-2">질문등록</a>
   </div>
</body>
</html>